*{
    margin: 0%;
    padding:0%;
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/029/559/875/non_2x/indian-holiday-background-free-photo.jpg");
    background-size: 100% cover;
    background-position: center 1%;
}
.contain {
    width: 300px;
    height: 400px;
    background-color: rgba(37, 149, 190, 0.356);
    margin-left: 42%;
    margin-top: 8%;
    text-align: center;
    color: white;
}
.contain h1{
    font-size: 36px;
    color: black;
}
.contain .text{
    position: relative;
    top: 7%;
}
.inp1{
    border: none;
    background-color: rgb(37, 149, 190, 0.356);
    border-bottom: 3px solid white;
    width: 250px;
    font-size: 21px;
    margin-top: 40px;
    outline: none;
    color: black;
}
.inp2{
    border: none;
    background-color: rgb(37, 149, 190, 0.356);
    border-bottom: 3px solid white;
    width: 250px;
    font-size: 21px;
    margin-top: 40px;
    outline: none;
    color: black;
}
.text button{
    width: 250px;
    height: 44px;
    background-color: rgb(201, 201, 201);
    color: black;
    font-size: 24px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
    border: 3px solid rgb(201, 201, 201);
    color: rgb(201, 201, 201);
    font-size: 22px;
    background-color: rgb(37, 149, 190, 0.356);
}
p{
    margin-top: 30px;
    font-size: 18px;
}
p span{
    color: black;
    cursor: pointer;
}
